.bg-perso {
    background: url(/ressources/alejandro-cartagena-tQ14VN9aLPA-unsplash.jpg);
    
    background-position: fixed;
    background-size: 100rem;
    height: max-content;
}

.hovered {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 200px;
    height: auto;
    opacity: 1;
    transition: width 2s, height 2s, opacity 2s, transform 2s;
}

.hovered:hover {
    opacity: 0.5;
    width: 300px;
    height: auto;
    transform: rotate(360deg);
}

/** Insérer les médias queries **/