/* font google */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

.bg-perso {
    background: url(../ressources/background/alejandro-cartagena-tQ14VN9aLPA-unsplash.jpg);
    background-position: fixed;
    background-size: 100rem;
    height: max-content;
}

.list-perso {
    list-style: url(../ressources/svg/arrow-right-short.svg);
}

.hovered {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 200px;
    height: auto;
    opacity: 1;
    transition: width 2s, height 2s, opacity 2s, transform 2s;
}

.hovered:hover {
    opacity: 0.5;
    width: 300px;
    height: auto;
    transform: rotate(360deg);
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    max-height: 600px;
}

.iframe-map {
    width: 400px;
    height: 250px;
}
    
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.mapouter {
    position:relative;
    text-align:right;
    height:250px;
    width:400px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:250px;
    width:400px;
}

/* médias queries */

/* md */
@media screen and (min-width:768px) and (max-width:991px) {
    body, .btn {
        font-size: 18px;
    }
    .btn-sm {
        font-size: 16px;
    }
    .logo {
        font-size: 1.5em;
    }
    
    .carousel, .img-responsive {
        width: 80%;
        max-width: 1000px;
    }

    .mapouter, .gmap_canvas {
        width: 600px;
        height: 450px;
    }
    
    .video-responsive {
        width: 50vw;
        height: 25vh;
    }
}

/* lg */
@media screen and (min-width:992px) and (max-width:1199px){
    body, .btn {
        font-size: 19px;
    }
    .btn-sm {
        font-size: 17px;
    }
    .logo {
        font-size: 1.6em;
    }
    .carousel, .img-responsive {
        width: 80%;
        max-width: 1000px;
    }
    .mapouter, .gmap_canvas {
        width: 800px;
        height: 650px;
    }
    .video-responsive {
        width: 100vw;
        height: 30vh;
    }
}

/* xl */
@media screen and (min-width:1200px) {
    body, .btn {
        font-size: 20px;
    }
    .btn-sm {
        font-size: 18px;
    }
    .logo {
        font-size: 1.7em;
    }
    .carousel, .img-responsive {
        width: 80%;
        max-width: 1000px;
    }
    .mapouter, .gmap_canvas {
        width: 1000px;
        height: 850px;
    }
    .video-responsive {
        width: 100vw;
        height: 35vh;
    }
}